@font-face {
    font-family: 'feather';
    src: url('../feather.eot');
    src: url('../feather.eot#iefix') format('embedded-opentype'),
    url('../fonts/feather.ttf') format('truetype'),
    url('../fonts/feather.woff') format('woff'),
    url('../img/feather.svg#feather') format('svg');
    font-weight: normal;
    font-style: normal;
}